<h1>Vote-Status</h1>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <div  (mouseleave)="changeStatus(false)">
            <span class="badge badge-pill badge-primary" (mouseover)="changeStatus(true)"  >{{status}}</span> 
        <br>
        <div class="icon ml-4 mt-3" [ngStyle]="{'display': check ? 'block' : 'none' }">
            <button *ngFor="let item of arrStatus" class="btn btn-primary" type="button" (click)="change(item)" >
                {{item}}
            </button>
        </div>
        </div>
        
        
        <!-- <div (mouseover)="hover=true" (mouseleave)="hover=false">
<span [ngStyle]="{backgroundColor: hover==true  ? 'lightgrey' : 'grey' }">hello {{ hover }}</span>
</div> -->
    </div>
</div>
